.appclip
{
position:absolute;
background-color:#ffffff;
height:269px;
width:772px;
border-radius:25.292682647705078px;
padding:0px;
}
.name-desc.+openbutton
{
width:736.53662109375px;
height:85.45429992675781px;
left:17.85px;
top:165.9px;
position:absolute;
}
.name-desc.2
{
height:16px;
width:638.3414306640625px;
padding:0px;
display:flex;
flex-direction:column;
gap:2.97560977935791px;
left:17.85px;
top:165.9px;
position:relative;
}
.пмппанель
{
color:#323c4d;
text-align:left;
vertical-align:text-top;
font-size:16.365854263305664px;
font-family:SF Pro Display;
letter-spacing:0.2603658437728882px;
line-height:20.829269409179688px;
border-style:hidden;
outline:none;
width:638.3414306640625px;
}
.openbutton2
{
background-color:#1e1e1e;
height:30.356643676757812px;
width:92.55244445800781px;
border-radius:8.601398468017578px;
padding-left:17.276222229003906px;
padding-right:17.276222229003906px;
padding-top:7.678321838378906px;
padding-bottom:7.678321838378906px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:6.398601531982422px;
position:absolute;
top:221px;
left:661px;
}
.отправить
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:10.8776216506958px;
font-family:SF Pro Text;
align-self:flex-start;
left:17.27px;
top:7.67px;
position:absolute;
letter-spacing:-0.2610629200935364px;
line-height:14.076923370361328px;
border-style:hidden;
outline:none;
width:58px;
display:flex;
}
.separator
{
background-color:rgba(84, 84, 88, 0.6499999761581421);
height:0.37195122241973877px;
width:736.53662109375px;
top:188.04px;
left:17.85px;
position:absolute;
}
.textarea#text
{
background-color:#ffffff;
height:23px;
width:628px;
border-radius:6px;
padding:0px;
left:18px;
top:224px;
position:relative;
}
.input#name
{
height:21px;
width:275px;
border-radius:6px;
padding:0px;
left:18px;
top:195px;
position:relative;
}
